@{
    ViewData["Title"] = "О нас";
}

<section class="contact">
    <div class="contact__title">
        <h1 class="contact__h1 ">Контакты</h1>
    </div>
    <div class="contact__content container mt-5">
        <div class="row">
            <div class="col">
                <h2 class="contact__h2">Contact Us</h2>
                <ul class="contact__nav">
                    <li class="contact__link">
                        <address>1234 Some St San Francisco, CA 94102, US 1.800.123.4567</address>
                    </li>
                    <li class="contact__link">
                        <a href="tel:+1234567890">(123) 456 78 90</a>
                    </li>
                    <li class="contact__link">
                        <a href="mailto:support@axiomthemes.com">support@axiomthemes.com</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h2 class="contact__h2">Opening Hours</h2>
                <ul class="contact__nav">
                    <li class="contact__link">Monday ...................... Closed</li>
                    <li class="contact__link">Tue-Fri .............. 10 am - 12 pm</li>
                    <li class="contact__link">Sat-Sun ............... 8 am - 11 pm</li>
                    <li class="contact__link">Holidays ............. 10 am - 12 pm</li>
                </ul>
            </div>
        </div>
    </div>
</section>