@{
    ViewData["Title"] = "Главная";
}

<section class="title">
    <img class="title__img" src="~/img/banner-bg.jpg" alt="Banner" />

    <div class="title__text container-fluid">
        <div class="text-center">
            <h1 class="title__h1 display-4">
                Откройте для себя новые вкусы
            </h1>
            <p class="title__p">САМАЯ ИНТЕРЕСНАЯ ЕДА В МИРЕ</p>
        </div>
    </div>

    <div class=" title__content row justify-content-around">
        <div class="col-4">
            <img src="~/img/welcome-bg.png" alt="welcomet" />
        </div>
        <div class="title__content-right col-4">
            <p class="title__content-p">Created god gathered don't you yielding herb you had. And isn't, god was saw.
            Dominion. Great sixth for in unto was. Open can't tree am waters brought. Divide after there. Was.</p>
            <p class="title__content-p">Created god gathered don't you yielding herb you had. And isn't, god was saw. 
            Dominion. Great sixth for in unto was. Open can't tree waters brought. Divide after there.
            Was. Created god gathered don't you yielding herb you had. And isn't god</p>
            <a asp-controller="Home" asp-action="Menu" class="title__content-a">В меню</a>
        </div>
    </div>
</section>

